.admin-request-list {
    min-height: 100vh;
    padding: 5rem 0;
    background: #f0eff2;
}

.admin-request-list__container {
    max-width: 900px;
    margin: 0 auto;
}

.admin-request-list__title {
    margin: 0;
    position: relative;
    padding-left: 30px;
    font-size: 1.8rem;
}

.admin-request-list__title::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 8px;
    height: 100%;
    background-color: #000000;
}

.admin-request-list__nav-tabs {
    margin: 10px 0;
    padding-left: 50px;
    display: flex;
    gap: 55px;
    height: 70px;
}

.admin-request-list__nav-item {
    list-style: none;
    margin-top: auto;
}

.admin-request-list__nav-link {
    text-decoration: none;
    color: #000000;
    font-size: 17px;
}

.admin-request-list__nav-link.active {
    font-weight: bold;
}

.admin-request-list__nav-underline {
    border: 1px solid #000000;
}

.admin-request-list__table {
    margin: 40px 0;
    background: #ffffff;
    border-radius: 10px;
}

.admin-request-list__inner {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.admin-request-list__header {
    padding: 10px 20px;
    color: #737373;
    border-bottom: 2px solid #e1e1e1;
}

.admin-request-list__header:nth-child(1) {
    width: 20%;
    text-align: center;
}

.admin-request-list__header:not(:first-child) {
    text-align: left;
}

.admin-request-list__cell {
    padding: 10px 20px;
    border-bottom: 1px solid #e1e1e1;
    font-size: 15px;
    font-weight: bold;
    color: #737373;
}

.admin-request-list__cell:nth-child(1) {
    text-align: center;
}

.admin-request-list__cell:nth-child(6) a {
    color: #000000;
    text-decoration: none;
}

.admin-request-list__cell:not(:first-child) {
    text-align: left;
}

.admin-request-list__row:last-child td {
    border-bottom: none;
}